<h1>Editing oauth_remote_access_token</h1>

<% form_for(@oauth_remote_access_token) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :oauth_remote_service_provider_id %><br />
    <%= f.text_field :oauth_remote_service_provider_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :token_object %><br />
    <%= f.text_field :token_object %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @oauth_remote_access_token %> |
<%= link_to 'Back', oauth_remote_access_tokens_path %>
