<h1>New oauth_remote_service_provider</h1>

<% form_for(@oauth_remote_service_provider) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %> (unique, something like 'agree2')<br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :site_url %><br />
    <%= f.text_field :site_url %>
  </p>
  <p>
    <%= f.label :consumer_key %><br />
    <%= f.text_field :consumer_key %>
  </p>
  <p>
    <%= f.label :consumer_secret %><br />
    <%= f.text_field :consumer_secret %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', oauth_remote_service_providers_path %>
